In [2]:
import glob
import os
import pandas as pd

## Read all files for the year 2023

In [4]:
data_path = './data/*.csv'
file_list = glob.glob(data_path)
file_list

['./data/202310-divvy-tripdata.csv',
 './data/202303-divvy-tripdata.csv',
 './data/202305-divvy-tripdata.csv',
 './data/202308-divvy-tripdata.csv',
 './data/202306-divvy-tripdata.csv',
 './data/202307-divvy-tripdata.csv',
 './data/202304-divvy-tripdata.csv',
 './data/202309-divvy-tripdata.csv',
 './data/202312-divvy-tripdata.csv',
 './data/202302-divvy-tripdata.csv',
 './data/202301-divvy-tripdata.csv',
 './data/202311-divvy-tripdata.csv']

In [5]:
# read and clean each file and add to the list
df_list = []

for file in file_list:    
    # get filename from directory
    base_filename = os.path.basename(file)
    
    print(f'Executing file: {base_filename}...')
    # get the month and year
    month_year = base_filename.split('-')[0]
    
    # read csv into dataframe
    current_df = pd.read_csv(file)
    # add year and month as column
    current_df['month'] = month_year[4:]
    current_df['year'] = month_year[:4]
    
    # add all dfs in a list
    df_list.append(current_df)

Executing file: 202310-divvy-tripdata.csv...
Executing file: 202303-divvy-tripdata.csv...
Executing file: 202305-divvy-tripdata.csv...
Executing file: 202308-divvy-tripdata.csv...
Executing file: 202306-divvy-tripdata.csv...
Executing file: 202307-divvy-tripdata.csv...
Executing file: 202304-divvy-tripdata.csv...
Executing file: 202309-divvy-tripdata.csv...
Executing file: 202312-divvy-tripdata.csv...
Executing file: 202302-divvy-tripdata.csv...
Executing file: 202301-divvy-tripdata.csv...
Executing file: 202311-divvy-tripdata.csv...

In [6]:
# concatenate files
merged_df = pd.concat(df_list, axis=0, ignore_index=True)
merged_df.shape

(5719877, 15)

In [7]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,month,year
0,4449097279F8BBE7,classic_bike,2023-10-08 10:36:26,2023-10-08 10:49:19,Orleans St & Chestnut St (NEXT Apts),620,Sheffield Ave & Webster Ave,TA1309000033,41.898203,-87.637536,41.921540,-87.653818,member,10,2023
1,9CF060543CA7B439,electric_bike,2023-10-11 17:23:59,2023-10-11 17:36:08,Desplaines St & Kinzie St,TA1306000003,Sheffield Ave & Webster Ave,TA1309000033,41.888641,-87.644415,41.921540,-87.653818,member,10,2023
2,667F21F4D6BDE69C,electric_bike,2023-10-12 07:02:33,2023-10-12 07:06:53,Orleans St & Chestnut St (NEXT Apts),620,Franklin St & Lake St,TA1307000111,41.898073,-87.637514,41.885837,-87.635500,member,10,2023
3,F92714CC6B019B96,classic_bike,2023-10-24 19:13:03,2023-10-24 19:18:29,Desplaines St & Kinzie St,TA1306000003,Franklin St & Lake St,TA1307000111,41.888716,-87.644448,41.885837,-87.635500,member,10,2023
4,5E34BA5DE945A9CC,classic_bike,2023-10-09 18:19:26,2023-10-09 18:30:56,Desplaines St & Kinzie St,TA1306000003,Franklin St & Lake St,TA1307000111,41.888716,-87.644448,41.885837,-87.635500,member,10,2023

In [8]:
merged_df.to_csv('./merged.csv')

In [11]:
# find null rows
merged_df.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    875716
start_station_id      875848
end_station_name      929202
end_station_id        929343
start_lat                  0
start_lng                  0
end_lat                 6990
end_lng                 6990
member_casual              0
month                      0
year                       0
dtype: int64

In [12]:
# list of column names
merged_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'month', 'year'],
      dtype='object')